.container-address{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 0 0 0 30px;
    .header-address{
        width: 100%;
        height: auto;
        background-color: #ffffff;
        display: flex;
        .header-address-left{
            width: 25%;
            height: 15vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .header-address-right{
            width: 75%;
            height: 15vh;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            .line-payment{
                position: absolute;
                width: 85%;
                height: 2px;
                background-color: #BDBDBD;
                top: 4.5vh;
                left: 0;
                img{
                    position: absolute;
                    top: 0;
                    left: -18px;
                    width: 43%;
                }
            }
            a{
                font-size: 11px;
                margin: 0 30px;
                text-decoration: none;
                color: #BDBDBD;
                &:hover{
                    text-decoration: none;
                }
            }
            img.card-payment{
                width: 1.5rem;
                position: absolute;
                top: 1.5vh;
                left: 27%;
            }
        }
    }
}
.select-address{
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    padding: 0 0 0 30px;
    h5{
        font-size: 1.5rem;
        font-family: $roboto;
        padding: 10px 0 10px 10px;
        font-weight: bold;
    }
    p{
        font-size: 11px;
        font-family: $roboto;
        padding: 0 0 0 10px;
    }
}
.detail-address{
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    padding: 0 0 0 30px;
    h6{
        font-size: 1.2rem;
        font-family: $roboto;
        padding: 10px 0 10px 10px;
        font-weight: bold;
    }
    p{
        font-size: 13px;
        font-family: $roboto;
        padding: 0 0 5px 10px;
    }
}
.deliver-address{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    padding: 0 0 0 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a{
        text-decoration: none;
        margin: 0 0 0 10px;
        color: #000000;
        padding: 10px 15px;
        background: linear-gradient(360deg, #EFC25C 9.31%, #F8E7C1 100%);
        border: 1px solid #9C7E37;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 11px;
        font-weight: bold;
    }
}
.btn-options{
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    padding: 0 0 0 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a{
        padding: 5px 15px;
        margin: 0 0 0 10px;
        background: linear-gradient(360deg, #ECECEC 9.31%, #F9F9F9 100%);
        border: 1px solid #A5A5A5;
        box-sizing: border-box;
        border-radius: 4px;
        text-decoration: none;
        color: #000000;
        font-size: 11px;
    }
}
.add-address{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    padding: 0 0 0 30px;
    h6{
        font-size: 1.2rem;
        font-family: $roboto;
        padding: 10px 0 10px 10px;
        font-weight: bold;
    }
    p{
        font-size: 11px;
        font-family: $roboto;
        padding: 0 0 0 10px;
    }
}
.input-address{
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    padding: 0 0 0 30px;
    label{
        display: block;
        font-size: 11px;
        font-weight: bold;
        padding: 10px 0 0 10px;
    }
    input{
        width: 50%;
        height: 35px;
        margin: 5px 0 20px 10px;
        padding: 0 0 0 10px;
    }
}
.add-detail{
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    padding: 0 0 0 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    h6{
        font-size: 1.2rem;
        font-family: $roboto;
        padding: 0 0 5px 10px;
        font-weight: bold;
    }
}
.input-address-textarea{
    width: 100%;
    height: 120px;
    background-color: #ffffff;
    padding: 0 0 0 30px;
    label{
        display: block;
        font-size: 11px;
        font-weight: bold;
        padding: 10px 0 0 10px;
    }
    textarea{
        width: 50%;
        height: 80px;
        margin: 5px 0 20px 10px;
        padding: 10px 10px 0 10px;
        font-size: 11px;
    }
}
.space-white{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
}
.footer-address{
    width: 100%;
    height: 15vh;
    background-color: pink;
    .row-address{
        width: 100%;
        height: 7.5vh;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            color: #0066C0;
            margin: 0 15px;
            font-size: 12px;
            font-family: $roboto;
        }
        p{
            font-size: 12px;
            font-family: $roboto;
            font-weight: bold;
            font-style: normal;
        }
    }
}



/*Extra Small devices (landscape phones, 575px and up)*/
@media (max-width: 575px) {
    .container-address{
        width: 100%;
        height: auto;
        background-color: #ffffff;
        padding: 0;
        .header-address{
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            .header-address-left{
                width: 100%;
                height: 10vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .header-address-right{
                width: 100%;
                height: 15vh;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                .line-payment{
                    position: absolute;
                    width: 90%;
                    height: 2px;
                    background-color: #ececec;
                    top: 4vh;
                    left: 5%;
                    img{
                        position: absolute;
                        top: 0;
                        left: 0%;
                        width: 40%;
                        height: 2px;
                    }
                }
                a{
                    font-size: 10px;
                    margin: 0 30px;
                    text-align: center;
                    text-decoration: none;
                    color: #BDBDBD;
                    &:hover{
                        text-decoration: none;
                    }
                }
                img.card-payment{
                    width: 1.5rem;
                    position: absolute;
                    top: 1.5vh;
                    left: 33%;
                }
            }
        }
    }
    .select-address{
        width: 100%;
        height: 120px;
        background-color: #ffffff;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h5{
            font-size: 1.5rem;
            font-family: $roboto;
            padding: 10px 0 10px 0;
            font-weight: bold;
            text-align: center;
        }
        p{
            font-size: 14px;
            font-family: $roboto;
            padding: 0 20px;
            text-align: center;
        }
    }
    .detail-address{
        width: 100%;
        height: 170px;
        background-color: #ffffff;
        padding: 0;
        h6{
            font-size: 1.2rem;
            font-family: $roboto;
            padding: 10px 0 10px 0;
            font-weight: bold;
            text-align: center;
        }
        p{
            font-size: 14px;
            font-family: $roboto;
            padding: 0 0 8px 0;
            text-align: center;
        }
    }
    .deliver-address{
        width: 100%;
        height: 50px;
        background-color: #ffffff;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            text-decoration: none;
            margin: 0;
            color: #000000;
            padding: 10px 15px;
            background: linear-gradient(360deg, #EFC25C 9.31%, #F8E7C1 100%);
            border: 1px solid #9C7E37;
            box-sizing: border-box;
            border-radius: 4px;
            font-size: 14px;
            font-weight: bold;
        }
    }
    .btn-options{
        width: 100%;
        height: 40px;
        background-color: #ffffff;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            padding: 5px 15px;
            margin: 0 5px;
            background: linear-gradient(360deg, #ECECEC 9.31%, #F9F9F9 100%);
            border: 1px solid #A5A5A5;
            box-sizing: border-box;
            border-radius: 4px;
            text-decoration: none;
            color: #000000;
            font-size: 14px;
        }
    }
    .add-address{
        width: 100%;
        height: 100px;
        background-color: #ffffff;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h6{
            font-size: 1.2rem;
            font-family: $roboto;
            padding: 10px 0 10px 0;
            font-weight: bold;
            text-align: center;
        }
        p{
            font-size: 14px;
            font-family: $roboto;
            padding: 0;
            text-align: center;
        }
    }
    .input-address{
        width: 100%;
        height: 100px;
        background-color: #ffffff;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        label{
            display: block;
            font-size: 14px;
            font-weight: bold;
            padding: 5px 20px;
            text-align: center;
        }
        input{
            width: 80%;
            height: 40px;
            margin: 5px 0 20px 0;
            padding: 0 15px;
        }
    }
    .add-detail{
        width: 100%;
        height: 60px;
        background-color: #ffffff;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        h6{
            font-size: 1.2rem;
            font-family: $roboto;
            padding: 0 0 !important;
            font-weight: bold;
            text-align: center;
        }
    }
    .input-address-textarea{
        width: 100%;
        height: 170px;
        background-color: #ffffff;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        label{
            display: block;
            font-size: 14px;
            font-weight: bold;
            padding: 10px 0 5px 10px;
            text-align: center;
        }
        textarea{
            width: 80%;
            height: 100px;
            margin: 5px 0 20px 0;
            padding: 10px 10px 0 10px;
            font-size: 13px;
        }
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
    .container-address{
        width: 100%;
        height: auto;
        background-color: #ffffff;
        padding: 0;
        .header-address{
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            .header-address-left{
                width: 100%;
                height: 10vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .header-address-right{
                width: 100%;
                height: 15vh;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                .line-payment{
                    position: absolute;
                    width: 70%;
                    height: 2px;
                    background-color: #ececec;
                    top: 4vh;
                    left: 15%;
                    img{
                        position: absolute;
                        top: 0;
                        left: 0%;
                        width: 40%;
                        height: 2px;
                    }
                }
                a{
                    font-size: 10px;
                    margin: 0 30px;
                    text-align: center;
                    text-decoration: none;
                    color: #BDBDBD;
                    &:hover{
                        text-decoration: none;
                    }
                }
                img.card-payment{
                    width: 1.5rem;
                    position: absolute;
                    top: 1.5vh;
                    left: 33%;
                }
            }
        }
    }
    .select-address{
        width: 100%;
        height: 120px;
        background-color: #ffffff;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h5{
            font-size: 1.5rem;
            font-family: $roboto;
            padding: 10px 0 10px 0;
            font-weight: bold;
            text-align: center;
        }
        p{
            font-size: 14px;
            font-family: $roboto;
            padding: 0 50px;
            text-align: center;
        }
    }
    .detail-address{
        width: 100%;
        height: 170px;
        background-color: #ffffff;
        padding: 0;
        h6{
            font-size: 1.2rem;
            font-family: $roboto;
            padding: 10px 0 10px 0;
            font-weight: bold;
            text-align: center;
        }
        p{
            font-size: 14px;
            font-family: $roboto;
            padding: 0 0 8px 0;
            text-align: center;
        }
    }
    .deliver-address{
        width: 100%;
        height: 50px;
        background-color: #ffffff;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            text-decoration: none;
            margin: 0;
            color: #000000;
            padding: 10px 15px;
            background: linear-gradient(360deg, #EFC25C 9.31%, #F8E7C1 100%);
            border: 1px solid #9C7E37;
            box-sizing: border-box;
            border-radius: 4px;
            font-size: 14px;
            font-weight: bold;
        }
    }
    .btn-options{
        width: 100%;
        height: 40px;
        background-color: #ffffff;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            padding: 5px 15px;
            margin: 0 5px;
            background: linear-gradient(360deg, #ECECEC 9.31%, #F9F9F9 100%);
            border: 1px solid #A5A5A5;
            box-sizing: border-box;
            border-radius: 4px;
            text-decoration: none;
            color: #000000;
            font-size: 14px;
        }
    }
    .add-address{
        width: 100%;
        height: 100px;
        background-color: #ffffff;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h6{
            font-size: 1.2rem;
            font-family: $roboto;
            padding: 10px 0 10px 0;
            font-weight: bold;
            text-align: center;
        }
        p{
            font-size: 14px;
            font-family: $roboto;
            padding: 0;
            text-align: center;
        }
    }
    .input-address{
        width: 100%;
        height: 100px;
        background-color: #ffffff;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        label{
            display: block;
            font-size: 14px;
            font-weight: bold;
            padding: 5px 20px;
            text-align: center;
        }
        input{
            width: 85%;
            height: 55px;
            margin: 5px 0 20px 10px;
            padding: 0 15px;
        }
    }
    .add-detail{
        width: 100%;
        height: 60px;
        background-color: #ffffff;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        h6{
            font-size: 1.2rem;
            font-family: $roboto;
            padding: 0 0 !important;
            font-weight: bold;
            text-align: center;
        }
    }
    .input-address-textarea{
        width: 100%;
        height: 170px;
        background-color: #ffffff;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        label{
            display: block;
            font-size: 14px;
            font-weight: bold;
            padding: 10px 0 5px 10px;
            text-align: center;
        }
        textarea{
            width: 85%;
            height: 100px;
            margin: 5px 0 20px 10px;
            padding: 10px 10px 0 10px;
            font-size: 13px;
        }
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 1150px) {
    .container-address{
        width: 100%;
        height: auto;
        background-color: #ffffff;
        padding: 0 0 0 30px;
        .header-address{
            width: 100%;
            height: auto;
            background-color: #ffffff;
            display: flex;
            .header-address-left{
                width: 25%;
                height: 15vh;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 80%;
                }
            }
            .header-address-right{
                width: 75%;
                height: 15vh;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                .line-payment{
                    position: absolute;
                    width: 90%;
                    height: 2px;
                    background-color: #BDBDBD;
                    top: 4.5vh;
                    left: 5%;
                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 30%;
                        height: 2px;
                    }
                }
                a{
                    font-size: 11px;
                    margin: 0 30px;
                    text-decoration: none;
                    color: #BDBDBD;
                    &:hover{
                        text-decoration: none;
                    }
                }
                img.card-payment{
                    width: 1.5rem;
                    position: absolute;
                    top: 1.5vh;
                    left: 30%;
                }
            }
        }
    }
    .select-address{
        width: 100%;
        height: 70px;
        background-color: #ffffff;
        padding: 0 0 0 30px;
        h5{
            font-size: 1.5rem;
            font-family: $roboto;
            padding: 10px 0 10px 10px;
            font-weight: bold;
        }
        p{
            font-size: 11px;
            font-family: $roboto;
            padding: 0 0 0 10px;
        }
    }
    .detail-address{
        width: 100%;
        height: 150px;
        background-color: #ffffff;
        padding: 0 0 0 30px;
        h6{
            font-size: 1.2rem;
            font-family: $roboto;
            padding: 10px 0 10px 10px;
            font-weight: bold;
        }
        p{
            font-size: 13px;
            font-family: $roboto;
            padding: 0 0 5px 10px;
        }
    }
    .deliver-address{
        width: 100%;
        height: 50px;
        background-color: #ffffff;
        padding: 0 0 0 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a{
            text-decoration: none;
            margin: 0 0 0 10px;
            color: #000000;
            padding: 10px 15px;
            background: linear-gradient(360deg, #EFC25C 9.31%, #F8E7C1 100%);
            border: 1px solid #9C7E37;
            box-sizing: border-box;
            border-radius: 4px;
            font-size: 11px;
            font-weight: bold;
        }
    }
    .btn-options{
        width: 100%;
        height: 40px;
        background-color: #ffffff;
        padding: 0 0 0 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a{
            padding: 5px 15px;
            margin: 0 0 0 10px;
            background: linear-gradient(360deg, #ECECEC 9.31%, #F9F9F9 100%);
            border: 1px solid #A5A5A5;
            box-sizing: border-box;
            border-radius: 4px;
            text-decoration: none;
            color: #000000;
            font-size: 11px;
        }
    }
    .add-address{
        width: 100%;
        height: 80px;
        background-color: #ffffff;
        padding: 0 0 0 30px;
        h6{
            font-size: 1.2rem;
            font-family: $roboto;
            padding: 10px 0 10px 10px;
            font-weight: bold;
        }
        p{
            font-size: 11px;
            font-family: $roboto;
            padding: 0 0 0 10px;
        }
    }
    .input-address{
        width: 100%;
        height: 100px;
        background-color: #ffffff;
        padding: 0 0 0 30px;
        label{
            display: block;
            font-size: 11px;
            font-weight: bold;
            padding: 20px 0 0 10px;
        }
        input{
            width: 55%;
            height: 50px;
            margin: 20px 0 20px 10px;
            padding: 0 0 0 10px;
            border: 2px solid #E0E0E0;
        }
    }
    .add-detail{
        width: 100%;
        height: 60px;
        background-color: #ffffff;
        padding: 0 0 0 30px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        h6{
            font-size: 1.2rem;
            font-family: $roboto;
            padding: 0 0 5px 10px;
            font-weight: bold;
        }
    }
    .input-address-textarea{
        width: 100%;
        height: 150px;
        background-color: #ffffff;
        padding: 0 0 0 30px;
        label{
            display: block;
            font-size: 11px;
            font-weight: bold;
            padding: 10px 0 0 10px;
        }
        textarea{
            width: 50%;
            height: 80px;
            margin: 20px 0 20px 10px;
            padding: 10px 10px 0 10px;
            font-size: 11px;
            border: 1px solid #E0E0E0;
        }
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1300px) {
    .container-address{
        width: 100%;
        height: auto;
        background-color: #ffffff;
        padding: 0 0 0 30px;
        .header-address{
            width: 100%;
            height: auto;
            background-color: #ffffff;
            display: flex;
            .header-address-left{
                width: 25%;
                height: 15vh;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 80%;
                }
            }
            .header-address-right{
                width: 75%;
                height: 15vh;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;
                .line-payment{
                    position: absolute;
                    width:60%;
                    height: 2px;
                    background-color: #BDBDBD;
                    top: 4.5vh;
                    left: 5%;
                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 35%;
                        height: 2px;
                    }
                }
                a{
                    font-size: 11px;
                    margin: 0 30px;
                    text-decoration: none;
                    color: #BDBDBD;
                    &:hover{
                        text-decoration: none;
                    }
                }
                img.card-payment{
                    width: 1.5rem;
                    position: absolute;
                    top: 1.5vh;
                    left: 21%;
                }
            }
        }
    }
    .select-address{
        width: 100%;
        height: 70px;
        background-color: #ffffff;
        padding: 0 0 0 30px;
        h5{
            font-size: 1.5rem;
            font-family: $roboto;
            padding: 10px 0 10px 10px;
            font-weight: bold;
        }
        p{
            font-size: 11px;
            font-family: $roboto;
            padding: 0 0 0 10px;
        }
    }
    .detail-address{
        width: 100%;
        height: 150px;
        background-color: #ffffff;
        padding: 0 0 0 30px;
        h6{
            font-size: 1.2rem;
            font-family: $roboto;
            padding: 10px 0 10px 10px;
            font-weight: bold;
        }
        p{
            font-size: 13px;
            font-family: $roboto;
            padding: 0 0 5px 10px;
        }
    }
    .deliver-address{
        width: 100%;
        height: 50px;
        background-color: #ffffff;
        padding: 0 0 0 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a{
            text-decoration: none;
            margin: 0 0 0 10px;
            color: #000000;
            padding: 10px 15px;
            background: linear-gradient(360deg, #EFC25C 9.31%, #F8E7C1 100%);
            border: 1px solid #9C7E37;
            box-sizing: border-box;
            border-radius: 4px;
            font-size: 11px;
            font-weight: bold;
        }
    }
    .btn-options{
        width: 100%;
        height: 40px;
        background-color: #ffffff;
        padding: 0 0 0 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a{
            padding: 5px 15px;
            margin: 0 0 0 10px;
            background: linear-gradient(360deg, #ECECEC 9.31%, #F9F9F9 100%);
            border: 1px solid #A5A5A5;
            box-sizing: border-box;
            border-radius: 4px;
            text-decoration: none;
            color: #000000;
            font-size: 11px;
        }
    }
    .add-address{
        width: 100%;
        height: 80px;
        background-color: #ffffff;
        padding: 0 0 0 30px;
        h6{
            font-size: 1.2rem;
            font-family: $roboto;
            padding: 10px 0 10px 10px;
            font-weight: bold;
        }
        p{
            font-size: 11px;
            font-family: $roboto;
            padding: 0 0 0 10px;
        }
    }
    .input-address{
        width: 100%;
        height: 70px;
        background-color: #ffffff;
        padding: 0 0 0 30px;
        label{
            display: block;
            font-size: 11px;
            font-weight: bold;
            padding: 10px 0 0 10px;
        }
        input{
            width: 50%;
            height: 35px;
            margin: 5px 0 20px 10px;
            padding: 0 0 0 10px;
        }
    }
    .add-detail{
        width: 100%;
        height: 60px;
        background-color: #ffffff;
        padding: 0 0 0 30px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        h6{
            font-size: 1.2rem;
            font-family: $roboto;
            padding: 0 0 5px 10px;
            font-weight: bold;
        }
    }
    .input-address-textarea{
        width: 100%;
        height: 120px;
        background-color: #ffffff;
        padding: 0 0 0 30px;
        label{
            display: block;
            font-size: 11px;
            font-weight: bold;
            padding: 10px 0 0 10px;
        }
        textarea{
            width: 50%;
            height: 80px;
            margin: 5px 0 20px 10px;
            padding: 10px 10px 0 10px;
            font-size: 11px;
        }
    }
}