#description-items{
    width: 100%;
    display: flex;
    .description-image,
    .description-item,
    .description-opctions{
        height: auto;
        background-color: #ffffff;
        padding: 10px 15px;
    }

    .description-image{
        width: 23%;
        display: flex;
        flex-direction: column;
        p{
            font-size: 10px;
            color: #A5A5A5;
            padding: 10px 0 0 0;
            display: block;
            text-align: center;
        }
    }
    .description-item{
        width: 54%;
        .item-text{
            width: 100%;
            height: 135px;
            display: flex;
            justify-content: center;
            p{
                padding: 20px 0 0 20px;
                font-weight: bold;
                font-family: $roboto;
                text-align: justify;
            }
        }
        .item-assessment{
            width: 100%;
            height: 40px;
            display: flex;
            .score{
                width: 30%;
                height: 40px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                img{
                    width: 1rem;
                    margin: 0 2.5px;
                }
            }
            .assessment{
                width: 70%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    font-size: 10px;
                    text-decoration: none;
                    margin: 0 5px;
                    color: #0066C0;
                }
            }
        }
        .stock{
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            p{
                font-family: $roboto;
                font-size: 12px;
            }
        }
        .options{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            a{
                font-family: $roboto;
                padding: 2.5px 5px;
                border: 1px solid #DADADA;
                margin: 0 5px;
                font-size: 13px;
                color: #000000;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                &:hover{
                    text-decoration: none;
                    color: #000000;
                }
            }
        }
        .option-color{
            width: 100%;
            height: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            p{
                font-family: $roboto;
                font-size: 10px;
                margin: 0;
            }
        }
        .cover-colors{
            width: 100%;
            height: 60px;
            padding: 5px;
            display: flex;
            img{
                margin: 0 5px;
            }
        }
        .details-covers{
            width: 100%;
            height: 360px;
            padding: 10px 0;
            ul{
                padding: 0 0 0 20px;
                li{
                    font-family: $roboto;
                    font-size: 12px;
                    padding: 0 10px 0 0;
                    text-align: justify;
                }
            }
        }
        .buy{
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            a{
                color: #0066C0;
                font-family: $roboto;
                font-size: 11px;
            }
        }
    }
    .description-opctions{
        width: 23%;
        background-color: #ffffff;
        .box-new{
            width: 100%;
            height: 50px;
            background-color: #ffffff;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            input{
                margin-left: 15px;
            }
            span{
                font-size: 13px;
                font-weight: bold;
                margin-left: 5px;
                font-family: $roboto;
            }
        }
        .box-text{
            width: 100%;
            height: 100px;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            p{
                font-size: 10px;
                font-family: $roboto;
                padding: 5px 10px 0 15px;
            }
        }
        .box-available{
            width: 100%;
            height: 60px;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            p{
                color: #209F00;
                font-family: $roboto;
                font-size: 12px;
                padding: 0 0 0 15px;
            }
            select{
                width: 60%;
                margin-left: 15px;
                margin-bottom: 5px;
                background-color: #ececec;
            }
        }
        .box-add-cart{
            width: 100%;
            height: 100px;
            background-color: #ffffff;

            a,
            button{
                background: linear-gradient(360deg, #EFC25C 9.31%, #F8E7C1 100%) !important;
                border: 1px solid #9C7E37;
                box-sizing: border-box;
                border-radius: 4px;
                font-size: 11px;
                position: relative;
                width: 90%;
                height: 40px;
                margin: 5px 5%;
                img{
                    background-color: #000000;
                    padding: 3px 5px;
                    position: absolute;
                    left: 5px;
                    top:3px;
                    height: 2rem;
                }
                .img-play{
                    padding: 3px 9px;
                }
                p{
                    font-size: 14px;
                    position: absolute;
                    left: 30%;
                    top: 10px;
                    font-family: $roboto;
                }
            }
        }
        .box-location{
            width: 100%;
            height: 50px;
            background-color: #ffffff;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .fa-map-marker-alt{
                font-size: 1.5rem;
                margin-left: 15px;
            }
            p{
                color: #0066C0;
                font-size: 10px;
                margin: 0;
                padding: 0 0 0 5px;
                font-weight: bold;
            }
        }
        .box-used{
            width: 100%;
            height: 50px;
            background-color: #EAEDED;;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            input{
                margin-left: 15px;
            }
            span{
                font-size: 13px;
                font-weight: bold;
                margin-left: 5px;
                font-family: $roboto;
            }
            p{
                font-size: 13px;
                margin: 0;
                padding: 0 0 0 40px;
                font-family: $roboto;
            }
        }
        .box-add{
            width: 100%;
            height: 100px;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            select{
                padding: 5px 10px;
                border-radius: 5px;
                background: linear-gradient(360deg, #ECECEC 9.31%, #F9F9F9 100%);
                border: 1px solid #A5A5A5;
            }
        }
    }
}
.title-items{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    h4{
        color: #E18C5C;
        margin: 0 0 0 20px;
    }
}
.container-cards-covers{
    width: 100%;
    height: 350px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .card-cover{
        width: 19%;
        height: auto;
        border: 1px solid #DADADA;
        border-radius: 8px;
        .card-cover-img{
            width: 100%;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .card-cover-text{
            width: 100%;
            height: 35px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            p{
                font-size: 10px;
                font-family: $roboto;
                color: #0066C0;
                padding: 0 5px;
                text-align: center;
                font-weight: bold;
            }
        }
        .by-create{
            width: 100%;
            height: 15px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            p{
                color: #A5A5A5;
                font-size: 10px;
                font-family: $roboto;
                padding: 0 0 0 5px;
                margin: 0;
            }
        }
        .price{
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .card-assessment{
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img{
                height: 1rem;
            }
            p{
                font-size: 14px;
                margin: 0;
                padding-left: 20px;
                font-family: $roboto;
            }
        }
        .card-prhase{
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            p{
                font-size: 11px;
                font-family: $roboto;
                margin: 0;
                padding: 0 0 0 10px;
            }
        }
    }
}
.box-search{
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    input{
        width: 60%;
        height: 40px;
        margin: 0 0 0 20px;
        padding: 0 0 0 40px;
        font-family: $roboto;
    }
    .fa-search{
        position: absolute;
        left: 30px;
        color: #DADADA;
        font-size: 1.5rem;
    }
}
.text-description-item{
    width: 100%;
    height: 550px;
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    h4{
        color: #E18C5C;
        font-weight: bold;
        padding: 40px 0 10px 20px;
    }
    span{
        color: #A5A5A5;
        font-size: 11px;
        margin-left: 20px;
    }
    p{
        font-family: $roboto;
        font-size: 14px;
        margin: 10px 0 20px 20px;
        padding: 0 120px 0 0;
    }
}
.container-description-item{
    width: 100%;
    height: 350px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    .section-left{
        width: 50%;
        height: 250px;
        background-color: #ffffff;
        table{
            width: 100%;
            height: 250px;
            border: 1px solid #CFCFCF;
            tr{
                border: 1px solid #CFCFCF;
                text-align: center;
                font-size: 12px;
            }
        }
    }
    .section-right{
        width: 50%;
        height: 250px;
        background-color: #ffffff;
        h6{
            padding: 10px 0 15px 20px;
            font-weight: bold;
        }
        p{
            font-size: 13px;
            padding: 0 40px 0 20px;
        }
    }
}







/*Extra Small devices (landscape phones, 575px and up)*/
@media (max-width: 575px) {
    #description-items{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    
        .description-image,
        .description-item,
        .description-opctions{
            height: auto;
            padding: 0;
            background-color: #ffffff;
        }
    
        .description-image{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            p{
                font-size: 14px;
                color: #A5A5A5;
                padding: 10px 0 0 0;
                display: block;
                text-align: center;
            }
        }
        .description-item{
            width: 100%;
            .item-text{
                width: 100%;
                height: 135px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    padding: 0 20px;
                    font-weight: bold;
                    font-family: $roboto;
                    text-align: center;
                    font-size: 16px;
                }
            }
            .item-assessment{
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                .score{
                    width: 100%;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 1.8rem;
                        margin: 0 3px;
                    }
                }
                .assessment{
                    width: 100%;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        font-size: 11px;
                        text-decoration: none;
                        margin: 0 5px;
                        color: #0066C0;
                    }
                }
            }
            .stock{
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-family: $roboto;
                    font-size: 14px;
                }
            }
            .options{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                a{
                    font-family: $roboto;
                    padding: 2.5px 5px;
                    border: 1px solid #DADADA;
                    margin: 10px 20px;
                    font-size: 15px;
                    color: #000000;
                    &:hover{
                        text-decoration: none;
                        color: #000000;
                    }
                }
            }
            .option-color{
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-family: $roboto;
                    font-size: 14px;
                    margin: 0;
                }
            }
            .cover-colors{
                width: 100%;
                height: 80px;
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    margin: 0 10px;
                }
            }
            .details-covers{
                width: 100%;
                height: auto;
                padding: 10px 0;
                ul{
                    padding: 0 0 0 40px;
                    li{
                        font-family: $roboto;
                        font-size: 14px;
                        padding: 0 35px 0 0;
                    }
                }
            }
            .buy{
                width: 100%;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    color: #0066C0;
                    font-family: $roboto;
                    font-size: 14px;
                }
            }
        }
        .description-opctions{
            width: 100%;
            background-color: #232F3D;;
            position: fixed;
            height: 100vh;
            top: 0;
            left: -100%;
            .box-new{
                width: 100%;
                height: 10vh;
                background-color: #232F3D;;
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    margin-left: 0;
                }
                span{
                    font-size: 16px;
                    font-weight: bold;
                    margin-left: 5px;
                    font-family: $roboto;
                    color: #ffffff;
                }
            }
            .box-text{
                width: 100%;
                height: 15vh;
                background-color: #232F3D;;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p{
                    font-size: 14px !important;
                    font-family: $roboto;
                    padding: 0;
                    color: #ffffff !important;
                    text-align: center;
                    padding: 0 20px;
                }
            }
            .box-available{
                width: 100%;
                height: 10vh;
                background-color: #232F3D;;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p{
                    color: #ffffff !important;
                    font-family: $roboto;
                    font-size: 14px;
                    padding: 0 0 0 15px;
                }
                select{
                    width: 60%;
                    margin-left: 15px;
                    margin-bottom: 5px;
                    background-color: #ececec;
                }
            }
            .box-add-cart{
                width: 100%;
                height: 20vh;
                background-color: #232F3D;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                button{
                    background: linear-gradient(360deg, #EFC25C 9.31%, #F8E7C1 100%);
                    border: 1px solid #9C7E37;
                    box-sizing: border-box;
                    border-radius: 4px;
                    font-size: 11px;
                    position: relative;
                    width: 90%;
                    height: 40px;
                    margin: 5px 5%;
                    img{
                        background-color: #000000;
                        padding: 3px 5px;
                        position: absolute;
                        left: 5px;
                        top:3px;
                        height: 2rem;
                    }
                    .img-play{
                        padding: 3px 9px;
                    }
                    p{
                        font-size: 14px;
                        position: absolute;
                        left: 30%;
                        top: 10px;
                        font-family: $roboto;
                    }
                }
            }
            .box-location{
                width: 100%;
                height: 10vh;
                background-color: #232F3D;;
                display: flex;
                justify-content: center;
                align-items: center;
                .fa-map-marker-alt{
                    font-size: 1.5rem;
                    margin-left: 15px;
                    color: #ffffff;
                }
                p{
                    color: #ffffff;
                    font-size: 14px;
                    margin: 0;
                    padding: 0 0 0 10px;
                    font-weight: bold;
                }
            }
            .box-used{
                width: 100%;
                height: 50px;
                background-color: #232F3D;;;
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    margin:0;
                }
                span{
                    font-size: 13px;
                    font-weight: bold;
                    margin-left: 5px;
                    font-family: $roboto;
                    color: #ffffff;
                }
                p{
                    font-size: 13px;
                    margin: 0;
                    padding: 0 0 0 40px;
                    font-family: $roboto;
                    color: #ffffff;
                }
            }
            .box-add{
                width: 100%;
                height: 100px;
                background-color: #232F3D;;
                display: flex;
                justify-content: center;
                align-items: center;
                select{
                    padding: 5px 10px;
                    border-radius: 5px;
                    background: linear-gradient(360deg, #ECECEC 9.31%, #F9F9F9 100%);
                    border: 1px solid #A5A5A5;
                }
            }
        }
    }
    .title-items{
        width: 100%;
        height: 100px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h4{
            color: #E18C5C;
            margin: 0;
            text-align: center;
        }
        span{
            text-align: center;
        }
    }
    .container-cards-covers{
        width: 100%;
        height: auto;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .card-cover{
            width: 80%;
            height: auto;
            border: 1px solid #DADADA;
            border-radius: 8px;
            margin: 10px 0;
            .card-cover-img{
                width: 100%;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .card-cover-text{
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                p{
                    font-size: 14px;
                    font-family: $roboto;
                    color: #0066C0;
                    padding: 0 15px;
                    text-align: center;
                    font-weight: bold;
                }
            }
            .by-create{
                width: 100%;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    color: #A5A5A5;
                    font-size: 14px;
                    font-family: $roboto;
                    padding: 0;
                    margin: 0;
                    text-align: center;
                }
            }
            .price{
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .card-assessment{
                width: 100%;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    height: 1rem;
                }
                p{
                    font-size: 14px;
                    margin: 0;
                    padding-left: 5px;
                    font-family: $roboto;
                }
            }
            .card-prhase{
                width: 100%;
                height: 55px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-size: 14px;
                    font-family: $roboto;
                    margin: 0;
                    padding: 0 0 0 10px;
                    text-align: center;
                }
            }
        }
    }
    .box-search{
        width: 100%;
        height: 140px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        input{
            width: 90%;
            height: 45px;
            margin: 0;
            border: 1px solid #ececec;
        }
    }
    .text-description-item{
        width: 100%;
        height: auto;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h4{
            color: #E18C5C;
            font-weight: bold;
            padding: 0;
            text-align: center;
            padding: 20px 0;
        }
        span{
            color: #A5A5A5;
            font-size: 11px;
            margin-left: 0;
            margin-bottom: 10px;
        }
        p{
            font-family: $roboto;
            font-size: 14px;
            margin: 0;
            padding: 10px 30px;
            text-align: center;
        }
    }
    .container-description-item{
        width: 100%;
        height: auto;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        .section-left{
            width: 100%;
            height: auto;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            table{
                width: 90%;
                height: 250px;
                border: 1px solid #CFCFCF;
                tr{
                    border: 1px solid #CFCFCF;
                    text-align: center;
                    font-size: 12px;
                }
            }
        }
        .section-right{
            width: 100%;
            height: auto;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h6{
                padding: 10pxx;
                font-weight: bold;
            }
            p{
                font-size: 13px;
                padding: 20px 30px;
            }
        }
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
    #description-items{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    
        .description-image,
        .description-item,
        .description-opctions{
            height: auto;
            padding: 0;
            background-color: #ffffff;
        }
    
        .description-image{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            p{
                font-size: 14px;
                color: #A5A5A5;
                padding: 10px 0 0 0;
                display: block;
                text-align: center;
            }
        }
        .description-item{
            width: 100%;
            .item-text{
                width: 100%;
                height: 135px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    padding: 0 20px;
                    font-weight: bold;
                    font-family: $roboto;
                    text-align: center;
                    font-size: 16px;
                }
            }
            .item-assessment{
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                .score{
                    width: 100%;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 1.8rem;
                        margin: 0 3px;
                    }
                }
                .assessment{
                    width: 100%;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        font-size: 11px;
                        text-decoration: none;
                        margin: 0 5px;
                        color: #0066C0;
                    }
                }
            }
            .stock{
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-family: $roboto;
                    font-size: 14px;
                }
            }
            .options{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                a{
                    font-family: $roboto;
                    padding: 2.5px 5px;
                    border: 1px solid #DADADA;
                    margin: 10px 20px;
                    font-size: 15px;
                    color: #000000;
                    &:hover{
                        text-decoration: none;
                        color: #000000;
                    }
                }
            }
            .option-color{
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-family: $roboto;
                    font-size: 14px;
                    margin: 0;
                }
            }
            .cover-colors{
                width: 100%;
                height: 80px;
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    margin: 0 10px;
                }
            }
            .details-covers{
                width: 100%;
                height: auto;
                padding: 10px 0;
                ul{
                    padding: 0 0 0 40px;
                    li{
                        font-family: $roboto;
                        font-size: 14px;
                        padding: 0 35px 0 0;
                    }
                }
            }
            .buy{
                width: 100%;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    color: #0066C0;
                    font-family: $roboto;
                    font-size: 14px;
                }
            }
        }
        .description-opctions{
            width: 100%;
            background-color: #232F3D;;
            position: fixed;
            height: 100vh;
            top: 0;
            left: -100%;
            .box-new{
                width: 100%;
                height: 10vh;
                background-color: #232F3D;;
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    margin-left: 0;
                }
                span{
                    font-size: 16px;
                    font-weight: bold;
                    margin-left: 5px;
                    font-family: $roboto;
                    color: #ffffff;
                }
            }
            .box-text{
                width: 100%;
                height: 15vh;
                background-color: #232F3D;;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p{
                    font-size: 14px !important;
                    font-family: $roboto;
                    padding: 0;
                    color: #ffffff !important;
                    text-align: center;
                    padding: 0 20px;
                }
            }
            .box-available{
                width: 100%;
                height: 10vh;
                background-color: #232F3D;;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p{
                    color: #ffffff !important;
                    font-family: $roboto;
                    font-size: 14px;
                    padding: 0 0 0 15px;
                }
                select{
                    width: 60%;
                    margin-left: 15px;
                    margin-bottom: 5px;
                    background-color: #ececec;
                }
            }
            .box-add-cart{
                width: 100%;
                height: 20vh;
                background-color: #232F3D;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                button{
                    background: linear-gradient(360deg, #EFC25C 9.31%, #F8E7C1 100%);
                    border: 1px solid #9C7E37;
                    box-sizing: border-box;
                    border-radius: 4px;
                    font-size: 11px;
                    position: relative;
                    width: 90%;
                    height: 40px;
                    margin: 5px 5%;
                    img{
                        background-color: #000000;
                        padding: 3px 5px;
                        position: absolute;
                        left: 5px;
                        top:3px;
                        height: 2rem;
                    }
                    .img-play{
                        padding: 3px 9px;
                    }
                    p{
                        font-size: 14px;
                        position: absolute;
                        left: 30%;
                        top: 10px;
                        font-family: $roboto;
                    }
                }
            }
            .box-location{
                width: 100%;
                height: 10vh;
                background-color: #232F3D;;
                display: flex;
                justify-content: center;
                align-items: center;
                .fa-map-marker-alt{
                    font-size: 1.5rem;
                    margin-left: 15px;
                    color: #ffffff;
                }
                p{
                    color: #ffffff;
                    font-size: 14px;
                    margin: 0;
                    padding: 0 0 0 10px;
                    font-weight: bold;
                }
            }
            .box-used{
                width: 100%;
                height: 50px;
                background-color: #232F3D;;;
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    margin:0;
                }
                span{
                    font-size: 13px;
                    font-weight: bold;
                    margin-left: 5px;
                    font-family: $roboto;
                    color: #ffffff;
                }
                p{
                    font-size: 13px;
                    margin: 0;
                    padding: 0 0 0 40px;
                    font-family: $roboto;
                    color: #ffffff;
                }
            }
            .box-add{
                width: 100%;
                height: 100px;
                background-color: #232F3D;;
                display: flex;
                justify-content: center;
                align-items: center;
                select{
                    padding: 5px 10px;
                    border-radius: 5px;
                    background: linear-gradient(360deg, #ECECEC 9.31%, #F9F9F9 100%);
                    border: 1px solid #A5A5A5;
                }
            }
        }
    }
    .title-items{
        width: 100%;
        height: 100px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h4{
            color: #E18C5C;
            margin: 0;
            text-align: center;
        }
        span{
            text-align: center;
        }
    }
    .container-cards-covers{
        width: 100%;
        height: auto;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .card-cover{
            width: 80%;
            height: auto;
            border: 1px solid #DADADA;
            border-radius: 8px;
            margin: 10px 0;
            .card-cover-img{
                width: 100%;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .card-cover-text{
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                p{
                    font-size: 14px;
                    font-family: $roboto;
                    color: #0066C0;
                    padding: 0 15px;
                    text-align: center;
                    font-weight: bold;
                }
            }
            .by-create{
                width: 100%;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    color: #A5A5A5;
                    font-size: 14px;
                    font-family: $roboto;
                    padding: 0;
                    margin: 0;
                    text-align: center;
                }
            }
            .price{
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .card-assessment{
                width: 100%;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    height: 1rem;
                }
                p{
                    font-size: 14px;
                    margin: 0;
                    padding-left: 5px;
                    font-family: $roboto;
                }
            }
            .card-prhase{
                width: 100%;
                height: 55px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-size: 14px;
                    font-family: $roboto;
                    margin: 0;
                    padding: 0 0 0 10px;
                    text-align: center;
                }
            }
        }
    }
    .box-search{
        width: 100%;
        height: 140px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        input{
            width: 90%;
            height: 45px;
            margin: 0;
            border: 1px solid #ececec;
        }
    }
    .text-description-item{
        width: 100%;
        height: auto;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h4{
            color: #E18C5C;
            font-weight: bold;
            padding: 0;
            text-align: center;
            padding: 20px 0;
        }
        span{
            color: #A5A5A5;
            font-size: 11px;
            margin-left: 0;
            margin-bottom: 10px;
        }
        p{
            font-family: $roboto;
            font-size: 14px;
            margin: 0;
            padding: 10px 30px;
            text-align: center;
        }
    }
    .container-description-item{
        width: 100%;
        height: auto;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        .section-left{
            width: 100%;
            height: auto;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            table{
                width: 90%;
                height: 250px;
                border: 1px solid #CFCFCF;
                tr{
                    border: 1px solid #CFCFCF;
                    text-align: center;
                    font-size: 12px;
                }
            }
        }
        .section-right{
            width: 100%;
            height: auto;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h6{
                padding: 10pxx;
                font-weight: bold;
            }
            p{
                font-size: 13px;
                padding: 20px 30px;
            }
        }
    }
}


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
    #description-items{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    
        .description-image,
        .description-item,
        .description-opctions{
            height: auto;
            padding: 0;
            background-color: #ffffff;
        }
    
        .description-image{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            p{
                font-size: 14px;
                color: #A5A5A5;
                padding: 10px 0 0 0;
                display: block;
                text-align: center;
            }
        }
        .description-item{
            width: 100%;
            .item-text{
                width: 100%;
                height: 135px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    padding: 0 20px;
                    font-weight: bold;
                    font-family: $roboto;
                    text-align: center;
                    font-size: 16px;
                }
            }
            .item-assessment{
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                .score{
                    width: 100%;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 1.8rem;
                        margin: 0 3px;
                    }
                }
                .assessment{
                    width: 100%;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        font-size: 11px;
                        text-decoration: none;
                        margin: 0 5px;
                        color: #0066C0;
                    }
                }
            }
            .stock{
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-family: $roboto;
                    font-size: 14px;
                }
            }
            .options{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                a{
                    font-family: $roboto;
                    padding: 2.5px 5px;
                    border: 1px solid #DADADA;
                    margin: 10px 20px;
                    font-size: 15px;
                    color: #000000;
                    &:hover{
                        text-decoration: none;
                        color: #000000;
                    }
                }
            }
            .option-color{
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-family: $roboto;
                    font-size: 14px;
                    margin: 0;
                }
            }
            .cover-colors{
                width: 100%;
                height: 80px;
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    margin: 0 10px;
                }
            }
            .details-covers{
                width: 100%;
                height: auto;
                padding: 10px 0;
                ul{
                    padding: 0 0 0 40px;
                    li{
                        font-family: $roboto;
                        font-size: 14px;
                        padding: 0 35px 0 0;
                    }
                }
            }
            .buy{
                width: 100%;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    color: #0066C0;
                    font-family: $roboto;
                    font-size: 14px;
                }
            }
        }
        .description-opctions{
            width: 100%;
            background-color: #232F3D;;
            position: fixed;
            height: 100vh;
            top: 0;
            left: -100%;
            .box-new{
                width: 100%;
                height: 10vh;
                background-color: #232F3D;;
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    margin-left: 0;
                }
                span{
                    font-size: 16px;
                    font-weight: bold;
                    margin-left: 5px;
                    font-family: $roboto;
                    color: #ffffff;
                }
            }
            .box-text{
                width: 100%;
                height: 15vh;
                background-color: #232F3D;;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p{
                    font-size: 14px !important;
                    font-family: $roboto;
                    padding: 0;
                    color: #ffffff !important;
                    text-align: center;
                    padding: 0 20px;
                }
            }
            .box-available{
                width: 100%;
                height: 10vh;
                background-color: #232F3D;;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p{
                    color: #ffffff !important;
                    font-family: $roboto;
                    font-size: 14px;
                    padding: 0 0 0 15px;
                }
                select{
                    width: 60%;
                    margin-left: 15px;
                    margin-bottom: 5px;
                    background-color: #ececec;
                }
            }
            .box-add-cart{
                width: 100%;
                height: 20vh;
                background-color: #232F3D;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                button{
                    background: linear-gradient(360deg, #EFC25C 9.31%, #F8E7C1 100%);
                    border: 1px solid #9C7E37;
                    box-sizing: border-box;
                    border-radius: 4px;
                    font-size: 11px;
                    position: relative;
                    width: 90%;
                    height: 40px;
                    margin: 5px 5%;
                    img{
                        background-color: #000000;
                        padding: 3px 5px;
                        position: absolute;
                        left: 5px;
                        top:3px;
                        height: 2rem;
                    }
                    .img-play{
                        padding: 3px 9px;
                    }
                    p{
                        font-size: 14px;
                        position: absolute;
                        left: 30%;
                        top: 10px;
                        font-family: $roboto;
                    }
                }
            }
            .box-location{
                width: 100%;
                height: 10vh;
                background-color: #232F3D;;
                display: flex;
                justify-content: center;
                align-items: center;
                .fa-map-marker-alt{
                    font-size: 1.5rem;
                    margin-left: 15px;
                    color: #ffffff;
                }
                p{
                    color: #ffffff;
                    font-size: 14px;
                    margin: 0;
                    padding: 0 0 0 10px;
                    font-weight: bold;
                }
            }
            .box-used{
                width: 100%;
                height: 50px;
                background-color: #232F3D;;;
                display: flex;
                justify-content: center;
                align-items: center;
                input{
                    margin:0;
                }
                span{
                    font-size: 13px;
                    font-weight: bold;
                    margin-left: 5px;
                    font-family: $roboto;
                    color: #ffffff;
                }
                p{
                    font-size: 13px;
                    margin: 0;
                    padding: 0 0 0 40px;
                    font-family: $roboto;
                    color: #ffffff;
                }
            }
            .box-add{
                width: 100%;
                height: 100px;
                background-color: #232F3D;;
                display: flex;
                justify-content: center;
                align-items: center;
                select{
                    padding: 5px 10px;
                    border-radius: 5px;
                    background: linear-gradient(360deg, #ECECEC 9.31%, #F9F9F9 100%);
                    border: 1px solid #A5A5A5;
                }
            }
        }
    }
    .title-items{
        width: 100%;
        height: 100px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h4{
            color: #E18C5C;
            margin: 0;
            text-align: center;
        }
        span{
            text-align: center;
        }
    }
    .container-cards-covers{
        width: 100%;
        height: auto;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .card-cover{
            width: 45%;
            height: auto;
            border: 1px solid #DADADA;
            border-radius: 8px;
            margin: 10px 10px;
            .card-cover-img{
                width: 100%;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .card-cover-text{
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                p{
                    font-size: 14px;
                    font-family: $roboto;
                    color: #0066C0;
                    padding: 0 15px;
                    text-align: center;
                    font-weight: bold;
                }
            }
            .by-create{
                width: 100%;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    color: #A5A5A5;
                    font-size: 14px;
                    font-family: $roboto;
                    padding: 0;
                    margin: 0;
                    text-align: center;
                }
            }
            .price{
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .card-assessment{
                width: 100%;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    height: 1rem;
                }
                p{
                    font-size: 14px;
                    margin: 0;
                    padding-left: 5px;
                    font-family: $roboto;
                }
            }
            .card-prhase{
                width: 100%;
                height: 55px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-size: 14px;
                    font-family: $roboto;
                    margin: 0;
                    padding: 0 0 0 10px;
                    text-align: center;
                }
            }
        }
    }
    .box-search{
        width: 100%;
        height: 140px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        input{
            width: 90%;
            height: 45px;
            margin: 0;
            border: 1px solid #ececec;
        }
    }
    .text-description-item{
        width: 100%;
        height: auto;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h4{
            color: #E18C5C;
            font-weight: bold;
            padding: 0;
            text-align: center;
            padding: 20px 0;
        }
        span{
            color: #A5A5A5;
            font-size: 11px;
            margin-left: 0;
            margin-bottom: 10px;
        }
        p{
            font-family: $roboto;
            font-size: 14px;
            margin: 0;
            padding: 10px 30px;
            text-align: center;
        }
    }
    .container-description-item{
        width: 100%;
        height: auto;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        .section-left{
            width: 100%;
            height: auto;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            table{
                width: 90%;
                height: 250px;
                border: 1px solid #CFCFCF;
                tr{
                    border: 1px solid #CFCFCF;
                    text-align: center;
                    font-size: 12px;
                }
            }
        }
        .section-right{
            width: 100%;
            height: auto;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h6{
                padding: 10pxx;
                font-weight: bold;
            }
            p{
                font-size: 13px;
                padding: 20px 30px;
            }
        }
    }
}